{% extends 'base.html.twig' %}

{% block title %}Ajouter une fonction - G-Stock
{% endblock %}

{% block body %}
	<div class="container">
		<section class="content-header">
			<h1>
				fonctions   
				<small>Gestion</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="{{ path('fonction_index') }}">
						<i class="fa fa-object-fonction"></i>
						Tous le fonctions</a>
				</li>
				<li class="active">Ajouter fonction</li>
			</ol>
		</section>

		<!-- FORM -->
		{% block form %}
			<div class="row mt">
				<div class="col-lg-12">
					{{ include('fonction/_form.html.twig') }}
				</div>
			</div>
		{% endblock %}
	</div>
	<!-- END FORM -->
{% endblock %}
