{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
   <div class="container">
    <section class="content-header">
        <h1>
            Clients
            <small>Gestion</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('client_index') }}"><i class="fa fa-users"></i> Tous les clients</a>
            </li>
            <li class="active">{{ client.firstname }} {{ client.lastname }}</li>
        </ol>
    </section>

  {% block form %}
        {% set form_title = 'Modifier ' ~ client.firstname ~ client.lastname %}

        <div class="row mt">
            <div class="col-lg-12">
            
                {{ include('client/_form.html.twig', {
                    'button_label': 'Modifier',
                    'form_title': form_title
                }) }}
            </div>
        </div>
    {% endblock %}
     </div>
{% endblock %}
