<div class="text-center">
    <p>
        Copyright &copy; 2023, <strong>Aksam Assurance</strong>. All Rights Reserved
    </p>
    <div class="credits">
        Created by <a href="https://www.linkedin.com/in/badr.bechtioui/" rel="created">Badr BECHTIOUI</a>
    </div>
</div>